.product {
    display: flex;
    flex-direction : column;
}

.product__img-container {
    display: flex;
    justify-content: center;
}

.product__img {
    max-height: 300px;
}

.product__name {
    text-align: center;
}
